*.o
*.a
a.out
*~
\#*\#
vgcore.*
*.gcno
*.gcda
unit_tests
.vscode/*
.vscode
.idea
coding-style-reports.log
tests
.DS_Store
*.cor
*.so
nanotekspice
B-OOP-400_nanotekspice
*.nts
LoggerComponent.hpp
LoggerComponent.cpp